<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<anis name="人物动作">
           <ani msg="地图站立前"/>
           <ani msg="地图站立后"/>
	   <ani msg="地图走路前"/>
	   <ani msg="地图走路后"/>
	   <ani msg="战斗站立"/>
	   <ani msg="攻击准备"/>
           <ani msg="攻击移动"/>
           <ani msg="攻击发生"/>
           <ani msg="攻击后退"/>
	   <ani msg="使用物品"/>
	   <ani msg="投掷物品"/>
	   <ani msg="防御"/>
	   <ani msg="受伤"/>
	   <ani msg="使用魔法"/>
	   <ani msg="防御起手"/>
 	</anis>


	<anis name="魔法效果">
       <ani msg="火焰爆炸"/>
       <ani msg="治疗"/>
       <ani msg="中毒"/>
       <ani msg="火焰燃烧"/>
       <ani msg="冰刺"/>
       <ani msg="雪球"/>
       <ani msg="旋风"/>
       <ani msg="刀刃"/>
       <ani msg="雷电"/>
       <ani msg="电击"/>
       <ani msg="增加属性"/>
       <ani msg="减少属性"/>
       <ani msg="火雨"/>
       <ani msg="剑雨"/>
       <ani msg="箭雨"/>
       <ani msg="刀痕"/>
       <ani msg="冰雨"/>
       <ani msg="冰霜"/>
       <ani msg="红光"/>
       <ani msg="御剑术"/>
       <ani msg="剑阵"/>
       <ani msg="死灵魔法"/>
       <ani msg="拳击"/>
       <ani msg="掌击"/>
       <ani msg="流星拳"/>
       <ani msg="流星掌"/>
       <ani msg="炎斩"/>
       <ani msg="火柱"/>
       <ani msg="大激光"/>
       <ani msg="斩地刀痕"/>
       <ani msg="飞火流星"/>
       <ani msg="龙槌闪"/>
       <ani msg="爆炎龙"/>
 	</anis>


	<anis name="战斗效果">
       <ani msg="指针"/>
       <ani msg="死亡"/>
       <ani msg="尸体"/>
       <ani msg="指针-禁选"/>
       <ani msg="指针-魔法范围"/>
 	</anis>

		<anis name="建筑物形态">
       <ani msg="等级1"/>
       <ani msg="等级2"/>
	   <ani msg="等级3"/>
       <ani msg="等级4"/>
	   <ani msg="等级5"/>
	   <ani msg="等级6"/>
       <ani msg="等级7"/>
	   <ani msg="等级8"/>
       <ani msg="等级9"/>
	   <ani msg="等级10"/>
      
 	</anis>
<!--

	<anis name="过场动画">
       <ani msg="片头"/>

 	</anis>

-->
</config>